{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "Azure_Storage_AccountName": "tempstorage5291",
    "Azure_Storage_AccountKey":""
  },
  "Host": {
    "CORS": "*"
  }
}
